.u-a1 {
    font-size: 40px;
}

.u-a2 {
    font-size: 30px;
    font-weight: normal;
}

.u-a3 {
    font-size: 18px;
    font-weight: normal;
}

.u-a4 {
    font-size: 15px;
}

.u-a5 {
    font-size: 12px;
}

.u-a1, .u-a2, .u-a3, .u-a4, .u-a5 {
    line-height: 1.5em;
}

.--bold {
    font-weight: bold;
}
